ul.d-flex.justify-content-around.mt-5.menu_ul
	li.mx-5.menu_ul__item: a.item__link(href="#") Home
	li.mx-5.menu_ul__item: a.item__link(href="#") Product
	li.mx-5.menu_ul__item: a.item__link(href="#") About
